
terraform/main.auto.tfvars
terraform/.terraform/providers/registry.terraform.io/hashicorp/random/3.6.0/darwin_arm64/terraform-provider-random_v3.6.0_x5
/terraform/.terraform
/terraform/modules/databricks_account/.terraform
/sqlmesh/seeds_for_local/logs
/sqlmesh/upstream/.cache
/sqlmesh/upstream/logs
*.pyc
*.wal
/sqlmesh/downstream/.cache
*.log
